.F1{width: 1280px;height: 738px;top: 205px;left: -509px;background-color: #8cc461;
}

.F2{width: 800px; height: 158px;top: 78px;left: 240px;border-radius: 13px;border: 2px;color: #1C3078;
    border: 2px solid #FFFFFF;position: absolute;}

.p{width: 150px;height: 37px;top:100px;left: 258px;font-family: Roboto, sans-serif;font-size: 40px;
    font-weight: 600;line-height: 37px;letter-spacing: 0.1em;text-align: left;color: #FFFFFF;position: absolute;}

.F3{width: 139px;height: 128px;top:95px;left:713px;border-radius: 9px;background: #FFFFFF;position: absolute;}

.F3 p{width: 150px; height: 20px;top: 84px;left:px;font-family: Roboto, sans-serif; font-size: 17px; font-weight: 600;
    line-height:20px;text-align: center;color: #656565;}

.F4{width: 139px;height: 128px;top: 95px;left:885px;border-radius: 9px;background: #FFFFFF;position: absolute;}

.F4 p{width: 110px; height: 20px;top:80px;left: 935px;font-family: Roboto, sans-serif; font-size: 17px; font-weight: 600;
    line-height: 20px;text-align:center;color: #656565;}

.computer-Score{width:79px;height:63px;top:138px;left:742px;font-family: Roboto, sans-serif;font-size:68px;
    line-height:80px;font-weight:700px;text-align: center;color: #252525;position: absolute;}

.user-Score{width:79px;height:63px;top:138px;left:910px;font-family: Roboto, sans-serif;
       font-size: 68px;font-weight: 700px;line-height:80px;text-align:center;color: #252525;position: absolute;}

.rules-text{width: 278px;height: 325px;top: 330px;left: 964px;border-radius: 13px;border: 7px;border: 7px solid #FFFFFF;
    background: #004429;position: absolute;text-align: center;}

.rules-text p{width: 260px;height: 27px;left:61px; top: 25px; font-family: Roboto,sans-serif;font-size: 29px;
    font-weight: 500;color: #FFFFFF;text-align: center;}

.rules-text li{width:215px;font-family:Roboto,sans-serif;font-size: 13px;font-weight: 400;line-height: 15px;letter-spacing: 0em;text-align: left;
    color: #FFFFFF;text-align:left;}

.rules-text ul{list-style-type:none;}

.rules-text li::before {content: '\2022';color:#FFD600;;display: inline-block;width: 1em;
    margin-left: -1em;width: 8px;height: 8px;top: 92px;left: 27px;
}

.close-btn{width:50px;height:50px;border-radius:25px;top: 300px;left: 1227px;border: 5px;border: 5px solid #FFFFFF;background: #FF0000;
position: absolute;align-items: center;  z-index: 1000;}  

.bt-text{width: 24px;height: 50px;border-radius:25px;top:292px;left:1237px;font-family:Dangrek,sans-serif;font-size: 33px;font-weight: 400px;
    line-height:0px;text-align:center;color:#FFFFFF;cursor:pointer;position: absolute;z-index: 1000;
}

.F7{width: 119px;height: 40px;top: 675px;left: 1136px;border-radius: 10px;border: 2px;color:#FFFFFF;background-color: #8cc461;
    border: 2px solid #FFFFFF;position: absolute;cursor: pointer;}

.F7 span{width: 72px;height: 20px;top: 683px;left: 1160px;font-family: Roboto,sans-serif;font-size: 21px;
    font-weight: 600;line-height: 25px;letter-spacing: 0.1em;text-align: left;}

.L1{width: 133px;top: 366px;left: 582px;border: 15px;border: 15px solid #000000A3;position: absolute;align-items: center;}

.L2{width: 107.91px;top: 470px;left: 520px;border: 15px; transform: rotate(-120deg);border: 15px solid #000000A3;position: absolute;align-items: center;}

.L3{width: 107.91px;top: 475px;left: 650px;border: 15px; transform: rotate(-60.58deg);border: 15px solid #000000A3;position: absolute;align-items: center;}

.Rock{width: 110px;height: 110px;border-radius:55px;top: 329px;left: 477px;background: #FFFFFF;border: 16px solid #0074B6;
    box-shadow: 3px 0px 21px 1px #00000033 inset;position: absolute;cursor: pointer;}

.Scissor{width: 110px;height: 110px;border-radius: 55px;top: 329px;left: 713px;background: #FFFFFF;border: 16px solid #BD00FF;
    box-shadow: 3px 0px 21px 1px #14131333 inset;position: absolute;cursor: pointer;}
    
.Paper{width: 110px;height: 110px;border-radius: 55px;top: 533px;left: 595px;background: #FFFFFF;box-shadow: 3px 0px 21px 1px #00000033 inset;
    border: 16px solid #FFA943;position: absolute;cursor: pointer;}